@import "../partials/variables";
@import "../partials/global";
@import "../partials/fonts";
@import "../partials/mixin";
@import "../../node_modules/normalize.css/normalize";

html {
  font-family: $georgia;
  font-size: 15px;
  scroll-behavior: smooth;
}

.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  max-width: $container-width;
  margin: 0 auto;
  @media screen and (max-width: $tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (max-width: $mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// ================== Header

.header {
  position: relative;
  z-index: 5;
}

.header-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header-container {
  @include flex-around($horz: space-between);
  padding-top: 30px;
  @media (max-width: $mobile) {
    padding-top: 30px;
  }
}

.menu-item {
  margin-right: 2.4rem;
  font-family: $arial;

  &:last-child {
    margin-right: 0;
  }

}

.header-nav {
  @include flex-around()
}

.header-nav-menu {
  display: flex;
  padding-bottom: 0.3rem;
  @media (max-width: $throw-burger) {
    display: none;
  }
}

.hamb-menu {
  display: none;
  cursor: pointer;

  & > .bar {
    display: block;
    height: 2px;
    width: 30px;
    margin-bottom: 8px;
    background-color: $color-primary;
  }

  & > .bar:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $throw-burger) {
    display: block;
  }
}


// ================== Main

.main {
  position: relative;
}
// --intro

.intro {
  background: rgb(91,72,58);
  background: $start-screen-gradient-background, url("../../assets/images/main/alpha-layer.png") ;
  background-blend-mode:multiply;
  background-position: 50% 50%;
}

.intro-wrapper {
  
  padding-top: 90px;
  @include flex-around($horz: space-between);
  padding-top: 180px;
  @media (max-width: $semi-tablet) {
    flex-direction: column;
    justify-content: center;
    padding-top: 148px;
  }
  @media (max-width: $mobile) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 150px;
  }
}

.intro-content {
  max-width: 460px;
  margin-bottom: 80px;

  @media (max-width: $semi-tablet) {
    margin-bottom: 102px;

    & > a .button--primary {
      display: flex;
      margin: 0 auto;
    }
  }
  
  @media (max-width: $mobile) {
    margin-bottom: 106px;
    text-align: center;
    & > .intro-content-heading {
      font-size: 25px;
      line-height: 32px;
      letter-spacing: 1.5px;
    }
  }
}

.intro-content-heading {
  & > span {
    white-space: pre;
  }
}

.intro-content-text {
  margin: 42px 0;
  font-family: $arial;
  color: $color-dark-s;

  line-height: 1.6rem;
}

.intro-background {
  display: inline-block;
  flex-shrink: 1;
  @media (max-width: $tablet) {
    max-width: 80%;
    align-self: flex-end;
  }
  @media (max-width: $mobile) {
    max-width: 87%;
  }
}

// -- about

.about-wrapper {
  @include flex-around($horz: center);
  flex-flow: row wrap-reverse;
  gap: 120px;
  padding-top: 80px;
  padding-bottom: 100px;
  @media (max-width: $tablet) {
    gap: 80px;
  }
  @media (max-width: $mobile) {
    padding-top: 41px;
    padding-bottom: 41px;
    gap: 40px;
  }
}

.about-content {
  @include flex-around();
  flex-direction: column;
  flex-basis: 430px;

  & > .about-content-text {
    color: $color-dark-l;
    margin: 0;
  }
  & > .about-content-text:first-of-type {
    margin: 25px 0;
    @media (max-width: $mobile) {
      margin-bottom: 22px;
    }
  }
}

.about-background {
  @media (max-width: $mobile) {
    max-width: 93%;
  }
}
.about-content-heading {
  letter-spacing: 2.1px;
  line-height: 130%;

  @media (max-width: $mobile) {
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.5px;
  }
}

.about-content-text {
  font-family: $arial;
  line-height: 24px;
  @media (max-width: $mobile) {
    padding: 0 5px;
    margin-bottom: 23px;
    text-align: justify;
  }
}

// --pets-------------

.pets {
  background: $color-light-l;
}

.pets-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
  @media (max-width: $tablet) {
    padding-top: 79px;
    padding-bottom: 101px;
  }
  @media (max-width: $mobile) {
    padding-top: 45px;
    padding-bottom: 41px;
    row-gap: 42px;
  }
}

.pets-content-heading {
  text-align: center;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: 2.1px;
  max-width: 500px;
  @media (max-width: $throw-burger) {
    font-size: 25px;
  }
  @media (max-width: $mobile) {
    line-height: 32px;
    letter-spacing: 1.5px;
  }
}

.pets-slider-container {
  @include flex-around($horz: space-between);
  align-self: stretch;
  @media (max-width: $throw-burger) {
    flex-wrap: wrap;
    justify-content: center ;
    column-gap: 80px;
    row-gap: 21px;
  }
}

.slider-items {
  @include flex-around($horz: space-evenly);
  column-gap: 34px;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  @media (max-width: $tablet) {
    column-gap: 24px;
  }
}

.item-wrapper {
  padding-bottom: 30px;
}


// --help--------------

.help-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  @media (max-width: $semi-mobile) {
    padding: 42px 15px;
  }
}

.help-heading {
  margin: 0 auto;
  max-width: 320px;
  line-height: 1.3;
  padding-bottom: 60px;
  text-align: center;
  @media (max-width: $semi-mobile) {
    font-size: 25px;
    letter-spacing: 1.3px;
    padding-bottom: 42px;
  }
}

.help-list-container {
  @include flex-around();
  flex-flow: row wrap;
  padding-left: 87px;
  padding-right: 87px;
  row-gap: 55px;
  column-gap: 120px;
  @media (max-width: $semi-tablet) {
    padding-left: 40px;
    padding-right: 40px;
    column-gap: 60px;
    row-gap: 54px;
  }

  @media (max-width: $semi-mobile) {
    padding-left: 0;
    padding-right: 0;
    row-gap: 30px;
    column-gap: 10px;
    justify-content: space-between;
  }
}

.help-item {
  @include flex-around();
  flex-direction: column;
  min-width: 50px;
  @media (max-width: $semi-tablet) {
    min-width: 165px;
  }
  @media (max-width: $semi-mobile) {
    min-width: 130px;
  }
  &:nth-child(6) {
    position: relative;
    left: 64px;
  }
  &:nth-child(7) {
    position: relative;
    left: 22px;
  }
  &:nth-child(8) {
    position: relative;
    right: 21px;
  }
  &:nth-child(9) {
    position: relative;
    right: 62px;
  }

  @media (max-width: $container-width) {
    &:nth-child(6), 
    &:nth-child(8),
    &:nth-child(7), 
    &:nth-child(9) {
      position: initial;
    }
  }
}

.help-item-image {
  max-width: 60px;
  @media (max-width: $semi-mobile) {
    max-width: 50px;
  }
}
.help-item-title {
  font-size: 20px;
  color: $color-dark-l;
  font-weight: 400;
  margin: 0;
  margin-top: 30px;
  line-height: 23px;
  letter-spacing: 1.1px;
  @media (max-width: $semi-mobile) {
    font-size: 15px;
    margin-top: 20px;
    line-height: 17px;
  }
}

// --donation------

.donation {
  background: $color-light-l;
}

.donation-wrapper {
  padding-top: 80px;
  padding-bottom: 99px;
  @media (max-width: $semi-tablet) {
    padding-bottom: 100px;
  }
  @media (max-width: $semi-mobile) {
    padding: 40px 10px;
  }
}

.donation-heading {
  margin-bottom: 20px;
  line-height: 45px;
  @media (max-width: $semi-mobile) {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 24px;
  }
}

.donation-container {
  @include flex-around($horz: center);
  flex-flow: row wrap-reverse;
  column-gap: 30px;
  @media (max-width: $tablet) {
    row-gap: 60px;
  }
  @media (max-width: $semi-mobile) {
    padding-left: 10px;
    padding-right: 10px;
    row-gap: 42px;
  }
}

.donation-content {
  @include flex-around($horz: center, $vert: flex-start);
  flex-flow: column wrap;
  order: 1;
  flex: 0 1 380px;
  @media (max-width: $semi-mobile) {
    text-align: center;
    align-items: center;
  }
}

.donation-background {
  max-width: 100%;
  flex-shrink: 1;
  @media (max-width: $semi-mobile) {
    padding: 0 10px;
  }
}
.donation-card-input {
  position: relative;
  padding: 10px 10px;
  padding-left: 60px;
  min-width: 350px;
  font-size: 20px;
  color: $color-dark-l;
  letter-spacing: 1.2px;
  border-radius: 10px;
  border-width: 0;
  background-color: $color-primary;

  @media (max-width: $semi-mobile) {
    min-width: 280px;
    margin-top: 5px;
    letter-spacing: 1px;
    padding-right: 0;
    padding-left: 58px;
  }
}

.donation-card-input:focus {
  outline: none;
}

.input-container {
  position: relative;
  padding: 20px 0;
  @media (max-width: $semi-mobile) {
    ::placeholder {
      font-size: 15px;
      color: $color-dark-l;
    }
  }
  &::before {
    content: url("../../assets/icons/credit-card.svg");
    position: absolute;
    width: 30px;
    height: 23px;
    top: 30px;
    left: 15px;
    z-index: 1;
    @media (max-width: $semi-mobile) {
      left: 13px;
      top: 34px;
    }
  }
  
}

.pets-item {
  @media (max-width: $semi-tablet) {
    &:not(:nth-child(-n+2)) {
      display: none;
    }
  }
  @media (max-width: $throw-burger) {
    display: none;
    &.show {
      display:flex;
    }
  }
}


.donation-form {
  color: $color-dark-l;
  letter-spacing: 0.9px;
  line-height: 17px;
  @media (max-width: $semi-mobile) {
    font-size: 1rem;
    letter-spacing: normal;
    line-height: 1rem;
  }
}
.donation-legal-info {
  margin: 0;
  
  font-family: $arial;
  font-size: 12px;
  font-style: italic;
  color: $color-dark-m;
  line-height: 18px;
  @media (max-width: $semi-mobile) {
    text-align: justify;
  }
}
// ================== Footer

.footer {
  background: rgb(91,72,58);
  background:  $start-screen-gradient-background, url("../../assets/images/main/alpha-layer.png"), ;
  background-blend-mode:multiply;
  background-position: 50% 50%;
  
}

.footer-wrapper {
  padding-top: 40px;
  @media (max-width: $tablet) {
    padding: 28px 33px 0;
  }

  @media (max-width: $semi-mobile) {
    padding: 28px 10px 0;
  }
}
.footer-content {
  @include flex-around($horz: space-between, $vert: flex-start);
  flex-wrap: wrap;
  @media (max-width: $tablet) {
    justify-content: center;
    column-gap: 40px;
    row-gap: 65px;
  }
  @media (max-width: $semi-mobile) {
    row-gap: 38px;
  }
}

.footer-contacts-heading {
  font-size: 35px;
  line-height: 46px;
  letter-spacing: 2.1px;
  color: $color-light-xl;

  @media (max-width: $semi-mobile) {
    font-size: 24px;
    padding: 0 15px;
    text-align: center;
    line-height: 33px;
    & > .span-pre {
      white-space: initial;
    }
  }
}
.footer-contacts {
  padding-top: 16px;
  display: flex;
  max-width: 300px;
  flex-flow: column nowrap;
  row-gap: 40px;
  @media (max-width: $tablet) {
    padding: 0;
  }
}

.footer-contacts:nth-of-type(2) {
  margin-right: 20px;
  row-gap: 32px;
  @media (max-width: $tablet) {
    margin: 0;

    @media (max-width: $semi-mobile) {
      row-gap: 41px;
      & > .footer-link:last-of-type {
        justify-content: flex-start;
      }
    }
  }
}

.footer-link {
  @include flex-around($horz: flex-start);
  column-gap: 20px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.1px;
  color: $color-primary;

  transition: color 0.3s ease-in;

  &:hover {
    color: $color-dark-m;
  }
  @media (max-width: $semi-mobile) {
    justify-content: center;
  }
}

.footer-link--location {
  align-self: flex-end;
}
.contacts-image-email, .contacts-image-phone {
  display: inline-block;
}

.footer-background {
  max-width: 100%;
  @media (max-width: $semi-mobile) {
    max-width: 88%;
  }
}
// ===========================