@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-Black.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-BoldMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-BoldItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-ItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-Bold.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-Italic.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/ArialMT.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: "Georgia", serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #545454;
}

p {
  font-size: 1.5rem;
}

@media (hover: hover) {
  input:hover {
    cursor: pointer;
  }
}
.h2 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.2rem;
}
@media screen and (max-width: 660px) {
  .h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 300px) {
  .h2 .span-pre {
    white-space: normal;
  }
}

.logo-title, .logo-subtitle {
  display: block;
}

.header-logo:hover > a .logo-subtitle {
  color: #B2B2B2;
}

.logo-title {
  font-size: 3.2rem;
  color: #F1CDB3;
  padding-bottom: 1rem;
  letter-spacing: 0.06em;
  line-height: 3.5rem;
}

.logo-subtitle {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.logo-link {
  text-align: center;
}

.menu-item-link {
  position: relative;
  display: inline-block;
  color: #CDCDCD;
  transition: color 0.3s ease-in-out;
}
.menu-item-link:hover {
  color: #B2B2B2;
}

.link--active {
  position: relative;
  color: #FAFAFA;
  pointer-events: none;
}
.link--active::after {
  content: "";
  left: 0;
  position: absolute;
  bottom: -6px;
  display: block;
  height: 3px;
  width: 100%;
  background: #F1CDB3;
}

.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.button {
  display: inline-block;
  padding: 15px 44px;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 2rem;
  color: #292929;
  border: 1px solid #F1CDB3;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media (hover: hover) {
  .button:hover {
    background-color: #FDDCC4;
    border-color: transparent;
  }
}

.pets-item {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  flex-shrink: 1;
}
@media (hover: hover) {
  .pets-item:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
  }
  .pets-item:hover > .button {
    background-color: #FDDCC4;
    border-color: transparent;
  }
}

.button:focus {
  outline-color: #444444;
}

::placeholder {
  color: #545454;
}
@media (max-width: 660px) {
  ::placeholder {
    font-size: 15px;
  }
}

:-ms-input-placeholder {
  color: #545454;
}
@media (max-width: 660px) {
  :-ms-input-placeholder {
    font-size: 15px;
  }
}

::-ms-input-placeholder {
  color: #545454;
}
@media (max-width: 660px) {
  ::-ms-input-placeholder {
    font-size: 15px;
  }
}

.button--primary {
  background-color: #F1CDB3;
}

.button--secondary {
  font-size: 18px;
  border-width: 2px;
  color: #292929;
  letter-spacing: 0.6px;
  padding: 14px 42px;
}

.button-pagi--prev {
  order: -1;
}
@media (max-width: 735px) {
  .button-pagi--prev {
    order: 1;
  }
}

.button-pagi--next {
  order: 1;
}
@media (max-width: 735px) {
  .button-pagi--next {
    order: 2;
  }
}

.button-pagi {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 52px;
  min-height: 52px;
  padding: 0;
  border-radius: 50%;
  border-width: 2px;
  color: #292929;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: normal;
}

.button--inactive {
  color: #CDCDCD;
  border-color: #CDCDCD;
  pointer-events: none;
}

.button--active {
  background-color: #F1CDB3;
  font-weight: 400;
  cursor: default;
}
@media (hover: hover) {
  .button--active:hover {
    background-color: #F1CDB3;
  }
}

.pets-item-name {
  font-size: 2rem;
  line-height: 2.1rem;
  letter-spacing: 0.12rem;
}

.h2--light {
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5.8rem;
  font-style: normal;
}

.pets-image {
  pointer-events: none;
}

.span-pre {
  white-space: pre;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-Black.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-BoldMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-BoldItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-ItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-Bold.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-Italic.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/ArialMT.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* ul style reset 
  ===================================
  */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header {
  position: relative;
  z-index: 5;
}

.header-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
@media (max-width: 320px) {
  .header-container {
    padding-top: 30px;
  }
}

.menu-item {
  margin-right: 3.5rem;
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
}
.menu-item:last-child {
  margin-right: 0;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-nav-menu {
  display: flex;
  padding-bottom: 0.3rem;
}
@media (max-width: 735px) {
  .header-nav-menu {
    display: none;
  }
}

.hamb-menu {
  display: none;
  cursor: pointer;
}
.hamb-menu > .bar {
  display: block;
  height: 2px;
  width: 30px;
  margin-bottom: 8px;
  background-color: #F1CDB3;
}
.hamb-menu > .bar:last-child {
  margin-bottom: 0;
}
@media (max-width: 735px) {
  .hamb-menu {
    display: block;
  }
}

.main {
  position: relative;
}

.intro {
  background: rgb(91, 72, 58);
  background: linear-gradient(118deg, rgb(91, 72, 58) 20%, rgb(38, 36, 37) 55%), url("../../assets/images/main/alpha-layer.png");
  background-blend-mode: multiply;
  background-position: 50% 50%;
}

.intro-wrapper {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 180px;
}
@media (max-width: 1080px) {
  .intro-wrapper {
    flex-direction: column;
    justify-content: center;
    padding-top: 148px;
  }
}
@media (max-width: 320px) {
  .intro-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 150px;
  }
}

.intro-content {
  max-width: 460px;
  margin-bottom: 80px;
}
@media (max-width: 1080px) {
  .intro-content {
    max-width: initial;
    padding: 0 12.4rem;
    margin-bottom: 102px;
  }
  .intro-content > div {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .intro-content {
    padding: 0;
    margin-bottom: 106px;
    text-align: center;
  }
  .intro-content > .intro-content-heading {
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.15rem;
  }
}

.intro-content-heading {
  max-width: 460px;
  letter-spacing: 0;
}
.intro-content-heading > span {
  white-space: pre;
}
@media (max-width: 660px) {
  .intro-content-heading {
    margin: 0 auto;
    max-width: 300px;
  }
}

.intro-content-text {
  margin: 42px 0;
  font-family: "Arial", sans-serif;
  color: #CDCDCD;
  line-height: 2.4rem;
}

.intro-background {
  display: inline-block;
  flex-shrink: 1;
}
@media (max-width: 800px) {
  .intro-background {
    max-width: 80%;
    align-self: flex-end;
  }
}
@media (max-width: 320px) {
  .intro-background {
    max-width: 87%;
  }
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 122px;
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 800px) {
  .about-wrapper {
    flex-flow: row wrap-reverse;
    gap: 80px;
  }
}
@media (max-width: 320px) {
  .about-wrapper {
    padding-top: 41px;
    padding-bottom: 41px;
    gap: 40px;
  }
}

.about-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  max-width: 36%;
}
.about-content > .about-content-text {
  color: #545454;
  margin: 0;
}
@media (max-width: 800px) {
  .about-content {
    max-width: 61%;
  }
}
@media (max-width: 660px) {
  .about-content {
    max-width: initial;
  }
}
.about-content > .about-content-text:first-of-type {
  margin: 25px 0;
}
@media (max-width: 320px) {
  .about-content > .about-content-text:first-of-type {
    margin-bottom: 22px;
  }
}

@media (max-width: 320px) {
  .about-background {
    max-width: 93%;
  }
}

.about-content-heading {
  letter-spacing: 0.2rem;
  line-height: 130%;
}
@media (max-width: 320px) {
  .about-content-heading {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1.5px;
  }
}

.about-content-text {
  font-family: "Arial", sans-serif;
  line-height: 24px;
}
@media (max-width: 320px) {
  .about-content-text {
    padding: 0 5px;
    margin-bottom: 23px;
    text-align: justify;
  }
}

.pets {
  background: #F6F6F6;
}

.pets-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 800px) {
  .pets-wrapper {
    padding-top: 79px;
    padding-bottom: 101px;
  }
}
@media (max-width: 320px) {
  .pets-wrapper {
    padding-top: 45px;
    padding-bottom: 41px;
    row-gap: 42px;
  }
}

.pets-content-heading {
  text-align: center;
  font-size: 3.5rem;
  line-height: 4.6rem;
  letter-spacing: 0.2rem;
  max-width: 500px;
}
@media (max-width: 660px) {
  .pets-content-heading {
    font-size: 2.5rem;
  }
}
@media (max-width: 320px) {
  .pets-content-heading {
    line-height: 3.2rem;
    letter-spacing: 0.1rem;
  }
}

.pets-slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
@media (max-width: 735px) {
  .pets-slider-container {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 21px;
  }
}

.slider-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 34px;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 800px) {
  .slider-items {
    column-gap: 24px;
  }
}

.item-wrapper {
  padding-bottom: 30px;
}

.help-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}
@media (max-width: 660px) {
  .help-wrapper {
    padding: 42px 15px;
  }
}

.help-heading {
  margin: 0 auto;
  max-width: 320px;
  line-height: 1.3;
  padding-bottom: 60px;
  text-align: center;
}
@media (max-width: 660px) {
  .help-heading {
    letter-spacing: 0.1rem;
    padding-bottom: 42px;
  }
}

.help-list-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding-left: 87px;
  padding-right: 87px;
  row-gap: 55px;
  column-gap: 120px;
}
@media (max-width: 1280px) {
  .help-list-container {
    justify-content: center;
  }
}
@media (max-width: 1080px) {
  .help-list-container {
    padding-left: 40px;
    padding-right: 40px;
    column-gap: 60px;
    row-gap: 54px;
  }
}
@media (max-width: 660px) {
  .help-list-container {
    padding-left: 0;
    padding-right: 0;
    row-gap: 30px;
    column-gap: 10px;
    justify-content: space-between;
  }
}
@media (max-width: 300px) {
  .help-list-container {
    justify-content: space-around;
  }
}

.help-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 50px;
}
@media (max-width: 1080px) {
  .help-item {
    min-width: 165px;
  }
}
@media (max-width: 660px) {
  .help-item {
    min-width: 130px;
  }
}
.help-item:nth-child(6) {
  position: relative;
  left: 64px;
}
.help-item:nth-child(7) {
  position: relative;
  left: 22px;
}
.help-item:nth-child(8) {
  position: relative;
  right: 21px;
}
.help-item:nth-child(9) {
  position: relative;
  right: 62px;
}
@media (max-width: 1280px) {
  .help-item:nth-child(6), .help-item:nth-child(8), .help-item:nth-child(7), .help-item:nth-child(9) {
    position: initial;
  }
}

.help-item-image {
  max-width: 60px;
}
@media (max-width: 660px) {
  .help-item-image {
    max-width: 50px;
  }
}

.help-item-title {
  font-size: 2rem;
  color: #545454;
  font-weight: 400;
  margin: 0;
  margin-top: 30px;
  line-height: 23px;
  letter-spacing: 1.1px;
}
@media (max-width: 660px) {
  .help-item-title {
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 1.7rem;
  }
}

.donation {
  background: #F6F6F6;
}

.donation-wrapper {
  padding-top: 80px;
  padding-bottom: 99px;
}
@media (max-width: 1080px) {
  .donation-wrapper {
    padding-bottom: 100px;
  }
}
@media (max-width: 660px) {
  .donation-wrapper {
    padding: 40px 10px;
  }
}

.donation-heading {
  margin-bottom: 20px;
  line-height: 45px;
}
@media (max-width: 660px) {
  .donation-heading {
    margin-bottom: 24px;
    line-height: 3.2rem;
  }
}

.donation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap-reverse;
  column-gap: 30px;
}
@media (max-width: 1080px) {
  .donation-container {
    row-gap: 60px;
  }
}
@media (max-width: 660px) {
  .donation-container {
    padding-left: 10px;
    padding-right: 10px;
    row-gap: 42px;
  }
}

.donation-content {
  flex-basis: 32%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  order: 1;
}
@media (max-width: 800px) {
  .donation-content {
    padding-right: 30px;
  }
}
@media (max-width: 660px) {
  .donation-content {
    text-align: center;
    align-items: center;
    flex-basis: 380px;
    padding-right: 0;
  }
}

.donation-background {
  max-width: 100%;
  flex-shrink: 1;
}
@media (max-width: 660px) {
  .donation-background {
    padding: 0 10px;
  }
}

.donation-card-input {
  position: relative;
  padding: 10px 10px;
  padding-left: 60px;
  min-width: 350px;
  font-size: 2rem;
  color: #545454;
  letter-spacing: 1.2px;
  border-radius: 10px;
  border-width: 0;
  background-color: #F1CDB3;
}
@media (max-width: 660px) {
  .donation-card-input {
    min-width: 280px;
    letter-spacing: 1px;
    padding-right: 0;
    padding-left: 58px;
  }
}

.donation-card-input:focus {
  outline: none;
}

.input-container {
  position: relative;
  padding: 20px 0;
}
@media (max-width: 660px) {
  .input-container ::placeholder {
    font-size: 1.5rem;
    color: #545454;
  }
}
.input-container::before {
  content: url("../../assets/icons/credit-card.svg");
  position: absolute;
  width: 30px;
  height: 23px;
  top: 30px;
  left: 15px;
  z-index: 1;
}
@media (max-width: 660px) {
  .input-container::before {
    left: 13px;
    top: 34px;
  }
}

@media (max-width: 1080px) {
  .pets-item:not(:nth-child(-n+2)) {
    display: none;
  }
}
@media (max-width: 735px) {
  .pets-item {
    display: none;
  }
  .pets-item.show {
    display: flex;
  }
}

.donation-form {
  color: #545454;
  letter-spacing: 0.9px;
  line-height: 17px;
  font-size: 1.5rem;
}
@media (max-width: 660px) {
  .donation-form {
    letter-spacing: 0.15rem;
    font-size: 1.2rem;
    line-height: 2.4rem;
  }
}

.donation-legal-info {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  color: #B2B2B2;
  line-height: 18px;
}
@media (max-width: 660px) {
  .donation-legal-info {
    text-align: justify;
  }
}

.footer {
  background: rgb(91, 72, 58);
  background: linear-gradient(118deg, rgb(91, 72, 58) 20%, rgb(38, 36, 37) 55%), url("../../assets/images/main/alpha-layer.png");
  background-blend-mode: multiply;
  background-position: 50% 50%;
}

.footer-wrapper {
  padding-top: 40px;
}
@media (max-width: 800px) {
  .footer-wrapper {
    padding: 28px 33px 0;
  }
}
@media (max-width: 660px) {
  .footer-wrapper {
    padding: 28px 10px 0;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 1080px) {
  .footer-content {
    justify-content: center;
    column-gap: 40px;
    row-gap: 65px;
  }
}
@media (max-width: 660px) {
  .footer-content {
    row-gap: 38px;
  }
}

.footer-contacts-heading {
  font-size: 3.5rem;
  line-height: 4.6rem;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
}
@media (max-width: 660px) {
  .footer-contacts-heading {
    font-size: 2.4rem;
    padding: 0 15px;
    text-align: center;
    line-height: 3.3rem;
  }
  .footer-contacts-heading > .span-pre {
    white-space: initial;
  }
}

.footer-contacts {
  padding-top: 16px;
  display: flex;
  max-width: 300px;
  flex-flow: column nowrap;
  row-gap: 40px;
}
@media (max-width: 800px) {
  .footer-contacts {
    padding: 0;
  }
}

.footer-contacts:nth-of-type(2) {
  margin-right: 20px;
  row-gap: 32px;
}
@media (max-width: 800px) {
  .footer-contacts:nth-of-type(2) {
    margin: 0;
  }
}
@media (max-width: 800px) and (max-width: 660px) {
  .footer-contacts:nth-of-type(2) {
    row-gap: 41px;
  }
  .footer-contacts:nth-of-type(2) > .footer-link:last-of-type {
    justify-content: flex-start;
  }
}

.footer-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.1rem;
  color: #F1CDB3;
  transition: color 0.3s ease-in;
}
@media (hover: hover) {
  .footer-link:hover {
    color: #B2B2B2;
  }
}
@media (max-width: 660px) {
  .footer-link {
    justify-content: center;
  }
}

.footer-link--location {
  align-self: flex-end;
}

.contacts-image-email, .contacts-image-phone {
  display: inline-block;
}

.footer-background {
  max-width: 100%;
}
@media (max-width: 660px) {
  .footer-background {
    max-width: 88%;
  }
}

/*# sourceMappingURL=style.css.map */
