@import "../partials/fonts";
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: $georgia;
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $color-dark-l;
}

p {
  font-size: 1.5rem;
}
@media (hover: hover) {
  input:hover {
  cursor: pointer;
  }
}


.h2 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 400;
  color: $color-dark-l;
  letter-spacing: 0.20rem;
  @media screen and (max-width: $semi-mobile) {
    font-size: 2.5rem;
  }
  @media (max-width: $mobile-extreme) {
    & .span-pre {
      white-space:normal;
    }
  }
}

.logo-title, .logo-subtitle {
  display: block;
}

.header-logo:hover {
  & > a .logo-subtitle {
    color: $color-dark-m;
  }
}
.logo-title {
  font-size: 3.2rem;
  color: $color-primary;
  padding-bottom: 1rem;
  letter-spacing: 0.06em;
  line-height: 3.5rem;
}

.logo-subtitle {
  margin: 0;
  font-family: $arial;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  color: $color-light-xl;

  transition: color 0.3s ease;
}



.logo-link {
  text-align: center;
}

.menu-item {
  margin-right: 3.5rem;
  font-family: $arial;
  &:last-child {
    margin-right: 0;
  }
}
.menu-item-link {
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
  color: $color-dark-s;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: $color-dark-m;
  }
  //** note: uncomment this before deploy into portfolio
  // &::after {
  //   content: "";
  //   position: absolute;
  //   bottom: -6px;
  //   display: block;
  //   height: 3px;
  //   background: $color-primary;
  //   width: 0;
  //   left: 50%;
  //   transition: width 0.3s ease 0s, left 0.3s ease 0s;
  // }

  // &:hover::after {
  //   width: 100%;
  //   left: 0;
  // }
}


.link--active {
  position: relative;
  color: $color-light-s;
  pointer-events: none;
  &::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -6px;
    display: block;
    height: 3px;
    width: 100%;
    background: $color-primary;
  }
}


.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  max-width: $container-width;
  margin: 0 auto;
  @media screen and (max-width: $tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and (max-width: $mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.button {
  display: inline-block;
  padding: 15px 44px;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  text-align: center;
  line-height: 2.0rem;
  color: $color-dark-3xl;
  border: 1px solid $color-primary;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;

  transition: all 0.3s ease-in;
  @media (hover:hover) {
    &:hover {
      background-color: $color-primary-light;
      border-color: transparent;
    }
  }
}

.pets-item {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  flex-shrink: 1;
  transition: all 0.3s ease-in;
  @media (hover:hover) {
    &:hover {
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      cursor: pointer;
      & > .button {
        background-color: $color-primary-light;
        border-color: transparent;
      }
    }
  }
  
}

.button:focus {
  outline-color: $color-dark-2xl;
}

::placeholder {
  color: $color-dark-l;
  @media (max-width: $semi-mobile) {
    font-size: 15px;
  }
}
:-ms-input-placeholder {
  color: $color-dark-l;
  @media (max-width: $semi-mobile) {
    font-size: 15px;
  }
}
::-ms-input-placeholder {
  color: $color-dark-l;
  @media (max-width: $semi-mobile) {
    font-size: 15px;
  }
}

.button--primary {
  background-color: $color-primary;
}

.button--secondary {
  font-size: 18px;
  border-width: 2px;
  color: $color-dark-3xl;
  letter-spacing: 0.6px;
  padding: 14px 42px;
}

.button-pagi--prev {
  order: -1;
  @media (max-width: $throw-burger) {
    order: 1;
  }
}

.button-pagi--next {
  order: 1;
  @media (max-width: $throw-burger) {
    order: 2;
  }
}

.button-pagi {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 52px;
  min-height: 52px;
  padding: 0;
  border-radius: 50%;
  border-width: 2px;
  color: $color-dark-3xl;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: normal;
}

.button--inactive {
  color: $color-dark-s;
  border-color: $color-dark-s;
  pointer-events: none;
}

.button--active {
  background-color: $color-primary;
  font-weight: 400;
  cursor: default;
  @media (hover:hover) {
    &:hover {
      background-color: $color-primary;
    }
  }
  
}

.pets-item-name {
  font-size: 2rem;
  line-height: 2.1rem;
  letter-spacing: 0.12rem;
}

.h2--light {
  margin: 0;
  color: $color-light-xl;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5.8rem;
  font-style:normal;
}

.pets-image {
  pointer-events: none;
}
.span-pre {
  white-space: pre;
}