// color variables

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$start-screen-gradient-background: radial-gradient(#5B483A 0, #262425 100%);
$footer-gradient-background: radial-gradient(#513D2F 0, #1A1A1C 100%);

// font variables

$george-reg: "Georgian Regular", serif;
$george-bld: "Georgian Bold", serif;
