@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-Black.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-BoldMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-BoldItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-ItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-Bold.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-Italic.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/ArialMT.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*, *::after, *::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #545454;
}

input:hover {
  cursor: pointer;
}

.h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 400;
  color: #545454;
  letter-spacing: 2.2px;
}
@media (max-width: 280px) {
  .h2 .span-pre {
    white-space: normal;
  }
}

.logo-title, .logo-subtitle {
  display: block;
}

.header-logo:hover > a .logo-subtitle {
  color: #B2B2B2;
}

.logo-title {
  font-size: 32px;
  color: #F1CDB3;
  padding-bottom: 8px;
  letter-spacing: 0.13rem;
  line-height: 2.5rem;
}

.logo-subtitle {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.3px;
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.logo-link {
  text-align: center;
}

.menu-item-link {
  position: relative;
  display: inline-block;
  color: #CDCDCD;
  transition: color 0.3s ease-in-out;
}
.menu-item-link:hover {
  color: #B2B2B2;
}

.link--active {
  position: relative;
  color: #FAFAFA;
  pointer-events: none;
}
.link--active::after {
  content: "";
  left: 0;
  position: absolute;
  bottom: -6px;
  display: block;
  height: 3px;
  width: 100%;
  background: #F1CDB3;
}

.wrapper {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.button {
  display: inline-block;
  padding: 15px 44px;
  font-size: 17px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 20px;
  color: #292929;
  border: 1px solid #F1CDB3;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.button:hover {
  background-color: #FDDCC4;
  border-color: transparent;
}

.pets-item {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  flex-shrink: 1;
}
.pets-item:hover > .button {
  background-color: #FDDCC4;
  border-color: transparent;
}

.button:focus {
  outline-color: #444444;
}

::placeholder {
  color: #545454;
}
@media (max-width: 660px) {
  ::placeholder {
    font-size: 15px;
  }
}

:-ms-input-placeholder {
  color: #545454;
}
@media (max-width: 660px) {
  :-ms-input-placeholder {
    font-size: 15px;
  }
}

::-ms-input-placeholder {
  color: #545454;
}
@media (max-width: 660px) {
  ::-ms-input-placeholder {
    font-size: 15px;
  }
}

.button--primary {
  background-color: #F1CDB3;
}

.button--secondary {
  font-size: 18px;
  border-width: 2px;
  color: #292929;
  letter-spacing: 0.6px;
  padding: 14px 42px;
}

.button-pagi--prev {
  order: -1;
}
@media (max-width: 735px) {
  .button-pagi--prev {
    order: 1;
  }
}

.button-pagi--next {
  order: 1;
}
@media (max-width: 735px) {
  .button-pagi--next {
    order: 2;
  }
}

.button-pagi {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 52px;
  min-height: 52px;
  padding: 0;
  border-radius: 50%;
  border-width: 2px;
  color: #292929;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: normal;
}

.button--inactive {
  color: #CDCDCD;
  border-color: #CDCDCD;
  pointer-events: none;
}

.button--active {
  background-color: #F1CDB3;
  font-weight: 400;
  cursor: default;
}
.button--active:hover {
  background-color: #F1CDB3;
}

.pets-item-name {
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 1.2px;
}

.h2--light {
  margin: 0;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 44px;
  line-height: 58px;
  font-style: normal;
}

.pets-image {
  pointer-events: none;
}

.span-pre {
  white-space: pre;
}

@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia-Bold.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("../../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-Black.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-BoldMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-BoldItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-BoldItalicMT.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/Arial-ItalicMT.woff2") format("woff2"), url("../../assets/fonts/Arial/Arial-ItalicMT.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-Bold.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-BoldItalic.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial Narrow";
  src: url("../../assets/fonts/Arial/ArialNarrow-Italic.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialNarrow-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../../assets/fonts/Arial/ArialMT.woff2") format("woff2"), url("../../assets/fonts/Arial/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* ul style reset 
  ===================================
  */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-family: "Georgia", serif;
  font-size: 15px;
  scroll-behavior: smooth;
}

.header {
  position: relative;
  z-index: 5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 320px) {
  .header-container {
    padding-top: 30px;
  }
}

.logo-title, .logo-subtitle {
  display: block;
}

.logo-title {
  font-size: 32px;
  color: #545454;
  padding-bottom: 8px;
  letter-spacing: 0.13rem;
  line-height: 2.5rem;
}

.logo-subtitle {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.3px;
  color: #292929;
}

.menu-item {
  margin-right: 2.4rem;
  font-family: "Arial", sans-serif;
}
.menu-item:last-child {
  margin-right: 0;
}

.link--active {
  color: #292929;
}
.link--active::after {
  content: "";
  left: 0;
  position: absolute;
  bottom: -6px;
  display: block;
  height: 3px;
  width: 100%;
  background: #F1CDB3;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-nav-menu {
  display: flex;
  padding-bottom: 0.3rem;
}
@media (max-width: 735px) {
  .header-nav-menu {
    display: none;
  }
}

.hamb-menu {
  display: none;
  cursor: pointer;
}
.hamb-menu > .bar {
  display: block;
  height: 2px;
  width: 30px;
  margin-bottom: 8px;
  background-color: #000;
}
.hamb-menu > .bar:last-child {
  margin-bottom: 0;
}
@media (max-width: 735px) {
  .hamb-menu {
    display: block;
  }
}

.logo-link {
  text-align: center;
}

.pets {
  background: #F6F6F6;
}

.pets-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 45px;
  padding-top: 80px;
  padding-bottom: 100px;
  flex: 1 0;
}
@media (max-width: 1080px) {
  .pets-wrapper {
    row-gap: 15px;
    padding-bottom: 76px;
  }
}
@media (max-width: 660px) {
  .pets-wrapper {
    padding-top: 42px;
    padding-bottom: 43px;
  }
}

.pets-heading {
  max-width: 400px;
  align-self: center;
  text-align: center;
  line-height: 45px;
}
@media (max-width: 660px) {
  .pets-heading {
    max-width: 100%;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 1.3px;
  }
  .pets-heading > .span-pre {
    white-space: pre;
  }
}

.pets-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 31px;
  padding-top: 16px;
  padding-bottom: 15px;
  flex-flow: row wrap;
}
@media (max-width: 1080px) {
  .pets-items {
    padding: 15px 64px 25px;
    row-gap: 31px;
  }
}
@media (max-width: 735px) {
  .pets-items {
    flex-flow: column wrap;
  }
}
@media (max-width: 660px) {
  .pets-items {
    padding: 27px 15px;
  }
}

.pets-item {
  padding-bottom: 31px;
}
@media (max-width: 1080px) {
  .pets-item:not(:nth-child(-n+6)) {
    display: none;
  }
}
@media (max-width: 735px) {
  .pets-item:not(:nth-child(-n+3)) {
    display: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}
@media (max-width: 660px) {
  .pagination {
    column-gap: 10px;
  }
}

.footer {
  background: rgb(91, 72, 58);
  background: linear-gradient(118deg, rgb(91, 72, 58) 20%, rgb(38, 36, 37) 55%), url("../../assets/images/main/alpha-layer.png");
  background-blend-mode: multiply;
  background-position: 50% 50%;
}

.footer-wrapper {
  padding-top: 40px;
}
@media (max-width: 800px) {
  .footer-wrapper {
    padding: 33px 33px 0;
  }
}
@media (max-width: 660px) {
  .footer-wrapper {
    padding: 33px 10px 0;
  }
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .footer-content {
    justify-content: center;
    column-gap: 40px;
    row-gap: 65px;
  }
}
@media (max-width: 660px) {
  .footer-content {
    row-gap: 38px;
  }
}

.footer-contacts-heading {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 2.1px;
  color: #FFFFFF;
}
@media (max-width: 660px) {
  .footer-contacts-heading {
    font-size: 24px;
    padding: 0 15px;
    text-align: center;
    line-height: 32px;
  }
  .footer-contacts-heading > .span-pre {
    white-space: initial;
  }
}

.footer-contacts {
  padding-top: 18px;
  display: flex;
  max-width: 300px;
  flex-flow: column nowrap;
  row-gap: 39px;
}
@media (max-width: 800px) {
  .footer-contacts {
    padding: 0;
  }
}

.footer-contacts:nth-of-type(2) {
  margin-right: 20px;
  row-gap: 32px;
}
@media (max-width: 800px) {
  .footer-contacts:nth-of-type(2) {
    margin: 0;
  }
}
@media (max-width: 800px) and (max-width: 660px) {
  .footer-contacts:nth-of-type(2) {
    row-gap: 41px;
  }
  .footer-contacts:nth-of-type(2) > .footer-link:last-of-type {
    justify-content: flex-start;
  }
}

.footer-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 1.1px;
  color: #F1CDB3;
  transition: color 0.3s ease-in;
}
.footer-link:hover {
  color: #B2B2B2;
}
@media (max-width: 660px) {
  .footer-link {
    justify-content: center;
  }
}

.footer-link--location {
  align-self: flex-end;
}

.contacts-image-email, .contacts-image-phone {
  display: inline-block;
}

.footer-background {
  max-width: 100%;
}
@media (max-width: 660px) {
  .footer-background {
    max-width: 87%;
  }
}

/*# sourceMappingURL=style.css.map */
