@import "../partials/variables";
@import "../partials/global";
@import "../partials/fonts";
@import "../partials/mixin";
@import "../partials/popups";
@import "../../node_modules/normalize.css/normalize";

html {
  font-family: $georgia;
  font-size: 10px;
  scroll-behavior: smooth;
}

// ================== Header


.header {
  position: relative;
  z-index: 5;
}


.header-container {
  @include flex-around($horz: space-between);
  padding-top: 30px;
  padding-bottom: 30px;
  @media (max-width: $mobile) {
    padding-top: 30px;
  }
}

.logo-title, .logo-subtitle {
  display: block;
}

.logo-title {
  font-size: 3.2rem;
  color: $color-dark-l;
  padding-bottom: 1rem;
  letter-spacing: 0.06em;
  line-height: 3.5rem;
}

.logo-subtitle {
  margin: 0;
  font-family: $arial;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.3px;
  color: $color-dark-3xl;
}

.menu-item {
  font-family: $arial;

  &:last-child {
    margin-right: 0;
  }

}

.link--active {
  color: $color-dark-3xl;
}

.menu-item-link {
  color: $color-dark-l;
  @media (hover: hover) {
    &:hover {
    color: $color-dark-3xl;
    }
  }
}
.header-nav {
  @include flex-around()
}

.header-nav-menu {
  display: flex;
  padding-bottom: 0.3rem;
  @media (max-width: $throw-burger) {
    display: none;
  }
}

.hamb-menu {
  display: none;
  cursor: pointer;

  & > .bar {
    display: block;
    height: 2px;
    width: 30px;
    margin-bottom: 8px;
    background-color: #000;
  }

  & > .bar:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $throw-burger) {
    display: block;
  }
}

.logo-link {
  text-align: center;
}
// ================== Main

.pets {
  background: $color-light-l;
}

.pets-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 45px;
  padding-top: 80px;
  padding-bottom: 100px;
  flex: 1 0;
  @media (max-width: $semi-tablet) {
    row-gap: 15px;
    padding-bottom: 76px;
  }
  @media (max-width: $semi-mobile) {
    padding-top: 42px;
    padding-bottom: 43px;
  }
}

.pets-heading {
  max-width: 400px; 
  
  align-self: center;
  text-align: center;
  line-height: 45px;

  @media (max-width: $semi-mobile) {
    max-width: 100%;
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.13rem;
    & > .span-pre {
      white-space: pre;
    }
  }
}

.pets-items {
  @include flex-around($horz: space-between);
  row-gap: 31px;
  padding-top: 16px;
  padding-bottom: 15px;
  flex-flow: row wrap;
  @media (max-width: $semi-tablet) {
    padding: 15px 64px 25px;
    row-gap: 31px;
  }
  @media (max-width: $throw-burger) {
    flex-flow: column wrap;
  }
  @media (max-width: $semi-mobile) {
    padding: 27px 15px;
  }
}

.pets-item {
  padding-bottom: 31px;
  @media (max-width: $semi-tablet) {
    &:not(:nth-child(-n+6)) {
      display: none;
    }
  }
  @media (max-width: $throw-burger) {
    &:not(:nth-child(-n+3)) {
      display: none;
    }
  }
}

.pagination {
  @include flex-around($horz: center);
  column-gap: 20px;

  @media (max-width: $semi-mobile) {
    column-gap: 10px;
  }
}

// ================== Footer

.footer {
  background: rgb(91,72,58);
  background:  $start-screen-gradient-background, url("../../assets/images/main/alpha-layer.png"), ;
  background-blend-mode:multiply;
  background-position: 50% 50%;
  
}

.footer-wrapper {
  padding-top: 40px;
  @media (max-width: $tablet) {
    padding: 33px 33px 0;
  }

  @media (max-width: $semi-mobile) {
    padding: 33px 10px 0;
  }
}

.footer-content {
  @include flex-around($horz: space-between, $vert: flex-start);
  flex-wrap: wrap;
  @media (max-width: $tablet) {
    justify-content: center;
    column-gap: 40px;
    row-gap: 65px;
  }
  @media (max-width: $semi-mobile) {
    row-gap: 38px;
  }
}

.footer-contacts-heading {
  font-size: 3.5rem;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: $color-light-xl;

  @media (max-width: $semi-mobile) {
    font-size: 2.4rem;
    padding: 0 15px;
    text-align: center;
    line-height: 3.2rem;
    & > .span-pre {
      white-space: initial;
    }
  }
}
.footer-contacts {
  padding-top: 18px;
  display: flex;
  max-width: 300px;
  flex-flow: column nowrap;
  row-gap: 39px;
  @media (max-width: $tablet) {
    padding: 0;
  }
}

.footer-contacts:nth-of-type(2) {
  margin-right: 20px;
  row-gap: 32px;
  @media (max-width: $tablet) {
    margin: 0;

    @media (max-width: $semi-mobile) {
      row-gap: 41px;
      & > .footer-link:last-of-type {
        justify-content: flex-start;
      }
    }
  }
}
.footer-link {
  @include flex-around($horz: flex-start);
  column-gap: 20px;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.11rem;
  color: $color-primary;
  transition: color 0.3s ease-in;

  @media (hover:hover) {
    &:hover {
      color: $color-dark-m;
    }
  }
  
  @media (max-width: $semi-mobile) {
    justify-content: center;
  }
}

.footer-link--location {
  align-self: flex-end;
}
.contacts-image-email, .contacts-image-phone {
  display: inline-block;
}

.footer-background {
  max-width: 100%;
  @media (max-width: $semi-mobile) {
    max-width: 87%;
  }
}
// ===========================